<fuse-card class="filter-post flex w-full flex-col">
    <div class="mx-4 mb-3 mt-6 flex flex-col sm:mx-8">
        <div class="flex items-start">
            <img
                class="mr-5 h-12 w-12 rounded-full"
                src="images/avatars/brian-hughes.jpg"
                alt="Card cover image"
            />
            <mat-form-field
                class="w-full"
                [subscriptSizing]="'dynamic'"
            >
                <textarea
                    class="my-2 leading-normal"
                    matInput
                    [placeholder]="'Escribe un comentario...'"
                    cdkTextareaAutosize
                    [rows]="3"
                ></textarea>
            </mat-form-field>
        </div>
        <div class="-mr-3 ml-auto mt-3 flex items-center">
            <button mat-icon-button>
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:sparkles'"
                ></mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:face-smile'"
                ></mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:photo'"
                ></mat-icon>
            </button>
        </div>
    </div>
    <hr class="mx-4 my-0 border-b sm:mx-8" />
    <div class="max-h-120 overflow-y-auto">
        <div class="relative mx-4 my-6 flex flex-col sm:mx-8">
            <div class="flex items-start">
                <img
                    class="mr-4 h-8 w-8 rounded-full"
                    src="images/avatars/male-05.jpg"
                    alt="Card cover image"
                />
                <div class="mt-0.5 flex flex-col">
                    <span>
                        <b>Usuario 1</b> Oh, I’m in.. Let’s
                        arrange a trip for the next weekend if you
                        want!
                    </span>
                    <div
                        class="text-secondary mt-2 flex items-center text-sm"
                    >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Like</span
                        >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Comentar</span
                        >
                   
                        <span class="mr-2">&bull;</span>
                        <span>17 min</span>
                    </div>
                </div>
            </div>
            <div class="ml-12 mt-8 flex items-start">
                <img
                    class="mr-4 h-8 w-8 rounded-full"
                    src="images/avatars/female-01.jpg"
                    alt="Card cover image"
                />
                <div class="mt-0.5 flex flex-col">
                    <span>
                        <b>Usuario 2</b> Yes!! Let's talk about
                        it on lunch!
                    </span>
                    <div
                        class="text-secondary mt-2 flex items-center text-sm"
                    >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Like</span
                        >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Comentar</span
                        >
                        <span class="mr-2">&bull;</span>
                        <span>15 min</span>
                    </div>
                </div>
            </div>
            <div class="ml-12 mt-8 flex items-start">
                <img
                    class="mr-4 h-8 w-8 rounded-full"
                    src="images/avatars/female-08.jpg"
                    alt="Card cover image"
                />
                <div class="mt-0.5 flex flex-col">
                    <span>
                        <b>Barbara Cotilla</b> Count me in !!!
                    </span>
                    <div
                        class="text-secondary mt-2 flex items-center text-sm"
                    >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Like</span
                        >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Comentar</span
                        >
                        <span class="mr-2">&bull;</span>
                        <span>12 min</span>
                    </div>
                </div>
            </div>
            <div class="mt-8 flex items-start">
                <img
                    class="mr-4 h-8 w-8 rounded-full"
                    src="images/avatars/male-11.jpg"
                    alt="Card cover image"
                />
                <div class="mt-0.5 flex flex-col">
                    <span>
                        <b>Usuario 3</b> The color of the sky
                        doesn’t look natural at all, do you really
                        think this is natural? I’d say Photoshop!
                        Your trip isn't going to worth it since you
                        won't be seeing this exact sky.
                    </span>
                    <div
                        class="text-secondary mt-2 flex items-center text-sm"
                    >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Like</span
                        >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Comentar</span
                        >
                 
                        <span class="mr-2">&bull;</span>
                        <span>24 min</span>
                    </div>
                </div>
            </div>
            <div class="ml-12 mt-8 flex items-start">
                <img
                    class="mr-4 h-8 w-8 rounded-full"
                    src="images/avatars/female-01.jpg"
                    alt="Card cover image"
                />
                <div class="mt-0.5 flex flex-col">
                    <span>
                        <b>Usuario 2</b> Hey, Alan! You must be
                        fun at parties!
                    </span>
                    <div
                        class="text-secondary mt-2 flex items-center text-sm"
                    >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Like</span
                        >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Comentar</span
                        >
                        <span class="mr-2">&bull;</span>
                        <span>22 min</span>
                    </div>
                </div>
            </div>
            <div class="ml-12 mt-8 flex items-start">
                <img
                    class="mr-4 h-8 w-8 rounded-full"
                    src="images/avatars/male-11.jpg"
                    alt="Card cover image"
                />
                <div class="mt-0.5 flex flex-col">
                    <span>
                        <b>Usuario 3</b> Caroline, I'm telling the
                        truth, and if you cannot stand the truth,
                        maybe we shouldn't be friends anymore...
                    </span>
                    <div
                        class="text-secondary mt-2 flex items-center text-sm"
                    >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Like</span
                        >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Comentar</span
                        >
                        <span class="mr-2">&bull;</span>
                        <span>20 min</span>
                    </div>
                </div>
            </div>
            <div class="ml-12 mt-8 flex items-start">
                <img
                    class="mr-4 h-8 w-8 rounded-full"
                    src="images/avatars/female-01.jpg"
                    alt="Card cover image"
                />
                <div class="mt-0.5 flex flex-col">
                    <span>
                        <b>Usuario 2</b> Dude! Relax! I'm just
                        messing with you...
                    </span>
                    <div
                        class="text-secondary mt-2 flex items-center text-sm"
                    >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Like</span
                        >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Comentar</span
                        >
                        <span class="mr-2">&bull;</span>
                        <span>18 min</span>
                    </div>
                </div>
            </div>
            <div class="ml-12 mt-8 flex items-start">
                <img
                    class="mr-4 h-8 w-8 rounded-full"
                    src="images/avatars/male-11.jpg"
                    alt="Card cover image"
                />
                <div class="mt-0.5 flex flex-col">
                    <span>
                        <b>Usuario 3</b> Sorry! I had a bad
                        morning, let's talk about this in couple
                        hours, I need to relax a bit :(
                    </span>
                    <div
                        class="text-secondary mt-2 flex items-center text-sm"
                    >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Like</span
                        >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Comentar</span
                        >
                        <span class="mr-2">&bull;</span>
                        <span>16 min</span>
                    </div>
                </div>
            </div>
            <div class="mt-8 flex items-start">
                <img
                    class="mr-4 h-8 w-8 rounded-full"
                    src="images/avatars/female-05.jpg"
                    alt="Card cover image"
                />
                <div class="mt-0.5 flex flex-col">
                    <span>
                        <b>Marleah Eagleston</b> Count me in, too!
                    </span>
                    <div
                        class="text-secondary mt-2 flex items-center text-sm"
                    >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Like</span
                        >
                        <span
                            class="mr-2 cursor-pointer hover:underline"
                            >Comentar</span
                        >
                        <span class="mr-2">&bull;</span>
                        <span>34 min</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fuse-card>