<section class="categories">
    <mat-card class="category">
      <mat-card-header>
        <mat-icon>attach_money</mat-icon>
        <mat-card-title>Costos</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="primary">Ver todas...</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="category">
      <mat-card-header>
        <mat-icon>business</mat-icon>
        <mat-card-title>Ingresos</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="primary">Ver todas...</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="category">
      <mat-card-header>
        <mat-icon>other_houses</mat-icon>
        <mat-card-title>Otros</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-raised-button color="primary">Ver todas...</button>
      </mat-card-actions>
    </mat-card>
  </section>
  